{% load bootstrap3 %}

{% block content %}

<body>
  <nav class="navbar navbar-expand-lg navbar-white bg-white static-top" style="background-color: white; margin-bottom: 8%; border-bottom: 1px solid rgba(44, 41, 41, 0.089);">
    <div class="container">

      <div class="home">
        <a class="navbar-brand" href="{%url 'welcome'%}">
          <img src="../static/phootos/instagram.png" width="50" height="50" style="border-right: 1px solid black;">
          <span style="font-family: 'Satisfy', cursive; color: black; margin-left: 5%; font-size: 140%">
            Instagram
          </span>

        </a>
      </div>

      <form action="{% url 'searchs'%}" class="search text-center" style="margin-top: 2%; margin-left:5%;">
        <input type="text" class="input-sm form-control" name="username" placeholder="Search">
      </form>

      <div class="account">

        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link " href="{%url 'upload'%}" style="color: black; "><img src="https://files.slack.com/files-pri/T077KKCG6-FPPGDDKLG/insta10.png"
                width="30px;"></a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="{%url 'myprofile'%}" style="color: grey; margin-top: -9px;"><img src="https://files.slack.com/files-pri/T077KKCG6-FPP2R03QC/insta9.png"
                width="45px;"></a>
            </li>

          <li class="nav-item">
              <a class="nav-link" href="{%url 'myprofile'%}" style="color: grey;"><img src="https://files.slack.com/files-pri/T077KKCG6-FPC2K7KPD/insta12.png"
                  width="30px;"></a>
            </li>

      </div>

    </div>
    </div>
  </nav>
</body>
{% endblock %}
<!-- <img src="https://files.slack.com/files-pri/T077KKCG6-FPP2R03QC/insta9.png"
                width="50px;"> -->